.biography .bio-wrapper {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1.5fr 1fr;
}

.biography .short {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.experience {
    margin-top: 5rem;
}

.experience .stage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 3px solid var(--color-primary);
}

.experience .stage:nth-child(3) {
    border-right: 3px solid var(--color-primary);
}

.experience .item {
    display: grid;
    grid-template-rows: 1fr auto;
}

.experience .item .item-info {
    padding: 0 2rem 1rem 0;
}

.item-info h6 {
    word-break: keep-all;
}

.item-info p:last-child {
    margin-bottom: 0;
}

.item-info svg {
    color: var(--color-primary);
}

.item-info .add-inf {
    font-style: oblique;
    font-weight: 300;
    font-size: 1rem;
}

.experience .item .years {
    font-size: .875rem;
    font-weight: 300;
    display: inline-block;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-bottom: none;
    padding: .1rem .5rem;
}

.hard-skills svg, .soft-skills svg {
    color: var(--color-primary);
}

@media (max-width: 992px) {
    .biography .bio-wrapper {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .item-info .add-inf {
        font-size: .875rem;
    }
}

@media (max-width: 768px) {
    .experience .stage {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        border-left: 3px solid var(--color-primary);
        border-bottom: none;
    }

    .experience .item {
        grid-template-rows: auto 1fr;
    }

    .experience .stage .item .item-info {
        order: 2;
        padding: .5rem 0 3rem .5rem;
    }

    .experience .stage .item:last-child .item-info {
        padding-bottom: 0;
    }

    .experience .stage .item .item-time {
        order: 1;
    }

    .experience .item .years {
        border: 1px solid var(--color-primary);
        border-left: none;
    }
}

@media (max-width: 576px) {
    .experience, .dop-info {
        margin-top: 4rem;
    }
}
