@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl/museosanscyrl-500.eot');
    src: url('../fonts/MuseoSansCyrl/museosanscyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/museosanscyrl-500.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/museosanscyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/museosanscyrl-500.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/museosanscyrl-500.svg') format('svg');
}

@font-face {
    font-family: 'GratimoGrotesk';
    src: url('../fonts/GratimoGrotesk/gratimogroteskdemo-regular.eot');
    src: url('../fonts/GratimoGrotesk/gratimogroteskdemo-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GratimoGrotesk/gratimogroteskdemo-regular.woff2') format('woff2'),
    url('../fonts/GratimoGrotesk/gratimogroteskdemo-regular.woff') format('woff'),
    url('../fonts/GratimoGrotesk/gratimogroteskdemo-regular.ttf') format('truetype'),
    url('../fonts/GratimoGrotesk/gratimogroteskdemo-regular.svg') format('svg');
}
