:root {
    --color-primary: #F53003;
    --color-secondary: #03acf4;
    --color-bg: #161822;
    --color-bg-old: #1D1D24;
    --gradient: linear-gradient(90deg, rgb(14, 16, 23) 0%, rgb(13, 19, 34) 33%, rgb(13, 19, 34) 66%, rgb(14, 16, 23) 100%) !important;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    color: white;
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -0.5px;
    font-family: 'Source Code Pro', sans-serif;
    caret-color: transparent;
}

a {
    text-decoration: none;
    transition: .3s;
    color: white !important;
    outline: none;
}

a:hover {
    text-decoration: none;
    color: var(--color-primary) !important;
}

header {
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    transition: .2s;
}

header:not(.with-bg) .nav-link {
    filter: drop-shadow(1px 2px 0px var(--color-bg));
}

header.with-bg {
    transform: translateY(-75px);
    position: fixed;
}

header.with-bg.show {
    transform: translateY(0);
}

footer {
    background: transparent;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 3;
    /*transition: .2s;*/
}

header.with-bg, footer.with-bg, body {
    /*background: var(--color-bg) !important;*/
    background: var(--gradient);
}

h1, h2, h3, h4, h5 {
    color: var(--color-primary);
    font-weight: 600;
    margin-bottom: 2rem;
}

h2, h3, h4, h5 {
    filter: drop-shadow(3px 3px 1px #861900);
}

.shad {
    filter: drop-shadow(1px 1px 1px var(--color-bg));
}

h6 {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    font-size: 1.75rem;
}

h1.name, .stack span {
    margin-bottom: 0;
    font-family: 'MuseoSansCyrl', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}

.sideline {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    background: transparent;
    /*background: var(--color-bg);*/
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3;
    padding-bottom: 132px;
}

.sideline.right {
    right: 0;
}

.sideline.left {
    left: 0;
}

.vertical-rl {
    writing-mode: vertical-rl;
}

.sideline .vertical-rl {
    filter: drop-shadow(1px 2px 0px var(--color-bg));
}

.sideline a {
    text-decoration: none;
    transition: .3s;
    color: white;
    font-size: .875rem;
    line-height: 1;
    letter-spacing: 3px;
    position: relative;
}

.sideline svg {
    filter: drop-shadow(1px 1px 0px var(--color-bg));
}

.sideline a:hover {
    color: var(--color-primary);
}

.sideline::after {
    content: '';
    width: 1px;
    height: 100px;
    background: var(--color-primary);
    position: absolute;
    bottom: 0;
}

.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-30 {
    width: 30px;
    height: 30px;
}

.icon-36 {
    width: 36px;
    height: 36px;
}

.nav {
    gap: 2rem;
}

.nav-item {
    text-align: center;
}

.nav-link {
    padding: 0 !important;
    margin: .5rem 1rem;
    display: inline-block !important;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.burger {
    display: none;
    position: relative;
    z-index: 10;
    margin: .5rem 1rem;
    cursor: pointer;
}

path {
    transition: transform .25s, opacity .3s;
}

.active path:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 2px 1px;
}

.active path:nth-of-type(2) {
    opacity: 0;
}

.active path:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 2px 15px;
}

.avatar {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 90% 15%;
}

.avatar-mobile {
    display: none;
    border-radius: 50%;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 90% 15%;
    min-width: 100px;
    height: 100px;
}

main {
    max-width: 1000px;
    margin: auto;
}

.marker {
    color: var(--color-primary);
}

.about-info {
    font-size: 1.5rem;
    text-align: center;
    filter: drop-shadow(1px 2px 0px var(--color-bg));
}

main section {
    padding-top: 5rem;
    margin-top: 4rem;
}

section#preview {
    position: relative;
}

section#preview .preview-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: left;
    background-image: url("/src/images/space-room.webp");
    filter: blur(6px);
}

section#preview .grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    margin: auto;
    padding: 4rem 0;
}

.main-info {
    height: 100vh;
    min-height: 600px;
    display: flex;
    overflow: hidden;
}

.main-info2 {
    display: flex;
    overflow: hidden;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.main-info2, section#preview .preview-bg {
    min-height: 500px;
}


.main-info2 .avatar {
    height: 175px;
    width: 175px;
    background-image: url('/src/images/photo_me2.jpg');
    filter: drop-shadow(0 1px 3px var(--color-bg));
}

.mouse {
    position: absolute;
    z-index: 4;
    left: 50%;
    bottom: 60px;
    cursor: pointer;
    animation: pulse 1.5s ease infinite;
}

section#contacts .contacts-wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.contact {
    padding: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.contact .header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact h6 {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.portfolio-slider {
    z-index: 1;
}

.portfolio-slider .swiper-navigation {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 1.5rem;
    gap: 3rem;
}

.portfolio-slider .swiper-button {
    position: initial;
    color: white;
    transition: .3s;
}

.portfolio-slider .swiper-button:hover {
    color: var(--color-primary);
}

.project {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5rem;
    margin-top: 1.5rem;
}

.project-slider {
    max-width: 500px;
    z-index: 2;
    padding-left: 3.2rem
}

.project-slider .swiper-slide {
    background: white;
    padding: .5rem;
    border-radius: 10px;
    aspect-ratio: .9;
}

.project-slider img {
    width: 100%;
    object-fit: contain;
}

.project-desc ul li::marker {
    color: var(--color-primary);
}

.contact:has(.copyright) {
    grid-column: 2;
}

.copyright {
    font-size: .875rem;
    text-align: center;
}

@media (min-width: 2000px) {
    .sideline {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
}

@media (max-width: 1400px) {
    footer {
        display: block;
    }

    main {
        padding-bottom: 5rem;
    }

    .contact:has(.copyright) {
        display: none;
    }

    .copyright {
        text-align: left;
    }

    .sideline {
        display: none;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 1rem;
    }

    h6 {
        font-size: 1.5rem;
    }

    section#preview .preview-bg {
        filter: blur(5px);
    }

    section#preview .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding-top: 5rem;
        padding-bottom: 0;
        gap: 0;
    }

    section#preview .grid .right {
        display: none;
    }

    .main-info2, section#preview .preview-bg {
        height: 92.5vh;
    }

    .mouse {
        bottom: unset;
        top: 80%;
    }

    .preloader {
        padding-bottom: 10vh;
    }

    .avatar {
        border-radius: 50%;
    }

    .avatar-mobile {
        display: block;
    }

    .main-info {
        height: auto;
        min-height: unset;
    }

    section#contacts .contacts-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .project {
        grid-template-columns: auto;
        gap: 1.5rem;
    }
}

@media (min-width: 768px) {
    section#portfolio {
        margin-top: 2rem !important;
    }
}

@media (max-width: 768px) {
    .burger {
        display: inline-block;
    }

    .nav-pills {
        background: var(--gradient);
        transition: .2s;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 5;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        gap: 1rem;
        padding: 5rem 0;
        opacity: 0;
        display: none;
    }

    .active .nav-pills {
        animation: fadeIn .2s linear;
        display: flex;
        opacity: 1;
    }

    h1.name, .stack span {
        font-size: 2.5rem;
    }

    .about-info, .active .nav-pills a {
        font-size: 1.25rem;
    }

    h2, h3, h4, h5, .text-mobile {
        text-align: center;
    }

    .ul-mobile {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
    }
}

@media (max-width: 576px) {
    body {
        font-size: .875rem;
    }

    h6 {
        font-size: 1.25rem !important;
    }

    main section {
        padding-top: 4rem !important;
        margin-top: 3rem !important;
    }

    section#preview .preview-bg {
        background-position-x: 3%;
    }

    section#preview .grid {
        padding: 0 !important;
        margin: 0;
    }

    section#contacts .contacts-wrapper {
        grid-template-columns: auto;
        gap: 1rem;
    }

    .contact .header {
        justify-content: center;
    }

    .contact .body {
        text-align: center;
    }

    h1.name, .stack span {
        font-size: 2rem;
    }

    .about-info, .active .nav-pills a {
        font-size: 1rem;
    }

    .project-slider {
        max-width: 75vw;
        padding: 0;
    }
}

.text-justify {
    text-align: justify;
}

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--color-bg);
    z-index: 50;
    opacity: 0;
    animation: fadeOut 2.65s ease-out;
    top: 0;
    display: flex;
}

.preloader .stack {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    animation: animate-background 2.5s linear;
    color: transparent !important;
    background-size: 300%;
    background-clip: text;
    background-image: url('/src/images/gradient_1000_500.png');
}

@media (min-width: 2400px) {
    main {
        max-width: 1200px;
    }

    .project-slider {
        max-width: 600px;
    }
}
